<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styleIndex.css">
</head>

<body>
  <header>
    <section class="headerUpContainer">
      <a href="index.html" class="containerLogo"><img src="/img/4K(UltraHD).png" class="logoHeader" ></a>

      <nav class="buttonHeader">
        <div class="buttonHeaderIcons">
          <form class="searchCointainer" action="/busca" method="post">
            <input type="search" name="q" placeholder="O que você procura?" class="inputSearch">
            <img src="https://img.icons8.com/material-outlined/384/000000/search--v1.png" class="searchImageI searchHeaderImage">
            <button class="bus" type="submit">Buscar</button>
          </form>
          <button class="searchHeader"><img src="https://img.icons8.com/material-outlined/384/000000/search--v1.png" class="searchHeaderImage"></button>
          <button class="hamburgerHeader"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png" class="hamburgerImage"></button>
        </div>

        <ul class="sanduicheBar">
          <li class="ab"><a href="/login"><button class="ll">Login</button></a></li>
          <li class="ab"><button class="ll">Produtos</button></li>
          <li class="ab"><button class="ll">Mais <br>infomações</button></li>
        </ul>
      </nav>
    </section>

    <div class="middleHeader">
      <p class="titleHeader">INOVAÇÃO</p>
      <button class="downButton"><a href="#smoofScroll"><img src="https://assets.webiconspng.com/uploads/2017/02/Right-Arrow-Icon-PNG.png" class="downButtomH"></a></button>
    </div>
  </header>

  <main>
      <section class="acordionContent" id="smoofScroll">
        <section class="mainHeader">

          <div class="categoria">
            <nav>
              <button class="mainHeaderButtom categoria">Categoria<img src="https://image.flaticon.com/icons/png/512/32/32195.png" class="downArrow"></button>
              <ul class="categoriaHover">
                <li><button class="bgBlack"><a href="" class="clWhite">Casacos</a></button></li>
                <li><button class="bgBlack"><a href="" class="clWhite">Bermudas</a></button></li>
                <li><button class="bgBlack"><a href="" class="clWhite">Camisetas</a></button></li>
              </ul>
            </nav>
          </div>
          
          <div class="tamanho">
            <nav>
              <button class="mainHeaderButtom tamanho">Tamanho<img src="https://image.flaticon.com/icons/png/512/32/32195.png" class="downArrow"></button>
              <ul class="tamanhoHover">
                <button class="bgBlack"><a href="" class="clWhite">PP</a></button>
                <button class="bgBlack"><a href="" class="clWhite">M</a></button>
                <button class="bgBlack"><a href="" class="clWhite">G</a></button>
                <button class="bgBlack"><a href="" class="clWhite">GG</a></button>
              </ul>
            </nav>
         </div>

         <div class="ordenar">
           <nav>
            <button class="mainHeaderButtom ordenar"><p>Ordenar</p><img src="https://image.flaticon.com/icons/png/512/32/32195.png" class="downArrow"></button>
            <ul class="ordenarHover">
              <button class="bgBlack"><a href="" class="clWhite">Lançamentos</a></button>
              <button class="bgBlack"><a href="" class="clWhite">Descontos</a></button>
              <button class="bgBlack"><a href="" class="clWhite">Menor Preço</a></button>
              <button class="bgBlack"><a href="" class="clWhite">Maior Preço</a></button>
            </ul>
          </nav>
        </div>
          
        </section>

        <section class="catalogoRoupas">

          <div class="boxRoupa">
            <a href="" class="sizeHrefCat box1Image">
              <img src="https://fieroshop.vteximg.com.br/arquivos/ids/170996-1400-1400/casaco-masculino-termico-impermeavel-para-neve-e-frio-extremo.jpg?v=637393191891570000" class="sizeClothes">
              <div class="imageOverlay">
                <p class="precoR"> R$199.99</p>
              </div>
            </a>       
            <p class="DescricaoR">Casaco masculinho manga longa</p>
          </div>

          <div class="boxRoupa">
            <a href="" class="sizeHrefCat box1Image">
              <img src="https://fieroshop.vteximg.com.br/arquivos/ids/170996-1400-1400/casaco-masculino-termico-impermeavel-para-neve-e-frio-extremo.jpg?v=637393191891570000" class="sizeClothes">
              <div class="imageOverlay">
                <p class="precoR"> R$199.99</p>
              </div>
            </a>       
            <p class="DescricaoR">Casaco masculinho manga longa</p>
          </div>

          <div class="boxRoupa">
            <a href="" class="sizeHrefCat box1Image">
              <img src="https://fieroshop.vteximg.com.br/arquivos/ids/170996-1400-1400/casaco-masculino-termico-impermeavel-para-neve-e-frio-extremo.jpg?v=637393191891570000" class="sizeClothes">
              <div class="imageOverlay">
                <p class="precoR"> R$199.99</p>
              </div>
            </a>       
            <p class="DescricaoR">Casaco masculinho manga longa</p>
          </div>

          <div class="boxRoupa">
            <a href="" class="sizeHrefCat box1Image">
              <img src="https://fieroshop.vteximg.com.br/arquivos/ids/170996-1400-1400/casaco-masculino-termico-impermeavel-para-neve-e-frio-extremo.jpg?v=637393191891570000" class="sizeClothes">
              <div class="imageOverlay">
                <p class="precoR"> R$199.99</p>
              </div>
            </a>       
            <p class="DescricaoR">Casaco masculinho manga longa</p>
          </div>

          <div class="boxRoupa">
            <a href="" class="sizeHrefCat box1Image">
              <img src="https://fieroshop.vteximg.com.br/arquivos/ids/170996-1400-1400/casaco-masculino-termico-impermeavel-para-neve-e-frio-extremo.jpg?v=637393191891570000" class="sizeClothes">
              <div class="imageOverlay">
                <p class="precoR"> R$199.99</p>
              </div>
            </a>       
            <p class="DescricaoR">Casaco masculinho manga longa</p>
          </div>
          

          

        </section>
      </section>
  </main>

  <footer>
    <!-- <br>aa<br> -->
  </footer>

  <script src="/js/js1.js"></script>
</body>

</html>