<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styleIndex.css">
  <title>Document</title>
</head>
<body>
  <a href="/"><img src="/img/4K(UltraHD).png" class="logoHeader" style="filter: invert(1);"></a>
  <form class="cadastroUser" action="/cadastro" method="post">
    <input type="text" placeholder="Login:" class="a1" name="name">
    <input type="email" placeholder="Email:" class="a1" name="email">
    <input type="password" placeholder="Senha:" class="a2" name="password">
    <p>- #{id}, #{results}</p>
    <button onclick="testa()" class="b2">Cadastrar</button>
    <p class="a3">pode entrar?</p>
  </form>
</body>
</html>